/* CONTAINER PRINCIPAL */
.container {
  background: white;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 95%;       /* quase toda a tela */
  max-width: 500px; /* limite no desktop */
  min-width: 280px;
  text-align: center;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .form {
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  input {
    width: 100%;
  }

  li {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  li button {
    align-self: flex-end;
  }

  h1 {
    font-size: 1.8rem; /* maior título */
  }

  h2 {
    font-size: 1.4rem; /* total maior */
  }
}
